/******************************\
***** Edit Recipe CSS         *|
\******************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.edit__overWrapper {
    background-color: #F8F7F2;
    display: flex;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    height: 70vh;
}

.edit__wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/********************______*\
| Edit Recipes Title *******|
\*------------------------*/

.edit__title {
    color: #96BB36;
    font-size: 36px;
    background-color: #F8F7F2;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-bottom: 10%;
}

.edit__title h2 {
    margin: 0px 10px 0px 0px;
}

.edit__theLine {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 15px;
}

.edit--backArrow {
    border-radius: 50%;
    background-color: #F0972A;
    margin-top: 10px;
    align-self:center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}

.edit--backArrow img{
    width: 18px ;
    height: 18px;
}
/********************______*\
Defaults for inputs and labels
\*------------------------*/

label {
    color: #F0972A;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 10px;
}

input {
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F0EFEA;
    padding: 10px;
    color: #A5A5A5;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

select {
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F0EFEA;
    padding: 10px;
    color: #A5A5A5;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

textarea {
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F0EFEA;
    padding: 10px;
    color: #A5A5A5;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}



.edit--content {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

/*******************\
    The Image
\*******************/

.edit--recipeImg{
    display: flex;
    flex-direction: column;

}

.edit--recipeImg img{
    width: 240px;
    height: auto;
    background-color: #A5A5A5;
    margin-bottom: 18px;    
    border: solid 1px #a5a5a5;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
}

.edit--recipeImg button{
    width: 240px;
    border: solid 1px;
    border-radius: 6px;
    color: #a5a5a5;
    padding: 7px 29px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.edit--recipeInfo {
    display: flex;
    flex-direction: column;
    flex: 1.5;

}

.edit--recipeThreeBrackets {
    display: flex;
    flex-direction: row;
    flex: auto;
    gap: 27px;
}

.edit--container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.edit--saveButton {
    border: none;
    width: fit-content;
    border-radius: 6px;
    color: white;
    background-color: #96BB36;
    padding: 12px 29px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029
}

.edit--recipeFullText {
    display: flex;
    flex-direction: column;
}
/* 
#edit--recipeDescription{
    display: inline;
} */

.edit--recipeFullText {
    flex: 1;  
}