<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator App</title>
</head>

<body>
    <div>
        <form action="/calculator-result" method="post">
            <div>
                <label for="varA">A</label>
                <input name="varA" type="number" placeholder="A">
                <select name="operator" >
                    <option value="plus"> + </option>
                    <option value="minus"> - </option>
                    <option value="mnozenje"> * </option>
                    <option value="delenje"> / </option>
                </select>
                <label for="varB">B</label>
                <input name="varB" type="number" placeholder="B">

                <button style="background-color: #666666; color: white;"> Presmetaj </button>
            </div>

               
        </form>
        
    </div>
</body>

</html>