<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoBlog - ADD new</title>
</head>
<body>
    <form action="/callback/post" method="post">
        <input name="title" type="text" placeholder="Blogpost title here.." required>
        <br/>
        <textarea name="content" placeholder="Content for blog..." required></textarea>
        <br>
        <br>
        <button type="submit">Save Blogpost</button>
    </form>
</body>
</html>