/* const secondaryParagraph = {
    backgroundColor: "teal",
    color: "black",
    padding: "10px",
  } */
  
  /* const primaryPara = {
    backgroundColor: "yellow",
    color: "blue",
    padding: "10px",
  } */



  .primeryPara {
    background-color: yellow;
    color: blue;
    padding: 10px;
  }

  .secondaryParagraph {
    background-color: teal;
    color: black;
    padding: 10px;
  }